nav.navbar-default {
	border-right: 0;
	border-radius: 0;
}
nav .navbar-brand {
	max-width: 200px;
	padding-top: 5px;
}
section {
	padding-top: 30px;
}
.cards-container {
	display: flex;
}
.single-card {
	border-radius: 2px;
	background: #fafafa;
	padding: 15px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	height: 100%;
	cursor: pointer;
}
.single-card:hover, .single-card.active {
	background: #f5f5f5;
}
.single-card.active .title {
	color: rgb(255, 0, 114);
}
.single-card .img-container {
	max-width: 150px;
	margin: auto;
}
.single-card .streamEndpointLink {
	color: rgb(255, 0, 114);
    display: block;
    margin-bottom: 0;
    text-align: left;
    margin-top: -15px;
    padding: 0;
}
.single-card .title-badge,
.single-card code span:first-child {
	float: left;
}
.img-container .vertical-center {
	max-width: 100%;
    margin: auto;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.cards-container .single-card .title {
	font-size: 26px;
	padding-top: 5px;
	font-weight: lighter;
}
#detail-section {
	min-height: 1000px;
}
.footer {
	padding: 0;
	margin-top: 30px; 
}
.p-0 {
	padding: 0;
}

